@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --pink:#FF046F;
    --violet:#C63BFA;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
}
*::selection{
    background: var(--pink);
    color: #fff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
header{
  width: 96%;
  background: #fff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  top: 2rem;
  left: 50%;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header .navbar ul li{
  margin: 0 1rem;
}
header .navbar ul li a{
  font-size: 2rem;
  color: var(--pink);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
header .navbar ul li .active,
header .navbar ul li a:hover{
  color: var(--violet);
}
header .logo{
  font-size: 2.5rem;
  color: var(--violet);
  text-transform: uppercase;
}
header .logo i{
  color: var(--pink);
  padding: 0 .2rem;
}
header .fa-bars{
  font-size: 3rem;
  display: none;
  color: var(--pink);
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

/*home*/

.home{
  min-height: 100vh;
  background: linear-gradient(rgba(198,59,250,0.8),rgba(198,59,250,0.8)),
  url(../img1/paper-3033204_1280.jpg);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}